# Tree Planting Project Analysis

In [1]:
# Importing the needed packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [3]:
#Loading the dataset
df = pd.read_csv('/Desktop/BETA/DATA_SCIENCE/Analysis/Tree Project/tree_planting_project_dataset.csv')

In [ ]:
# Viewing summary information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Tree_ID                     300 non-null    object
 1   Planting_Date               300 non-null    object
 2   Location                    300 non-null    object
 3   Species                     300 non-null    object
 4   Initial_Height (cm)         300 non-null    float64
 5   Survival_Status             300 non-null    object
 6   Current_Height (cm)         231 non-null    float64
 7   Monitoring_Date             300 non-null    object
 8   Community_Engagement_Score  300 non-null    int64
 9   Soil_Quality                300 non-null    object
 10  Biodiversity_Count          300 non-null    int64
 11  Costs_Per_Tree (USD)        300 non-null    float64
 12  Total_Trees_Planted         300 non-null    int64
dtypes: float64(3), int64(3), object(7)
memory usage: 30.6+ KB

In [7]:
# Changing the date to the correct datetime format
df['Planting_Date'] = pd.to_datetime(df['Planting_Date'])
df['Monitoring_Date'] = pd.to_datetime(df['Monitoring_Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Tree_ID                     300 non-null    object
 1   Planting_Date               300 non-null    datetime64[ns]
 2   Location                    300 non-null    object
 3   Species                     300 non-null    object
 4   Initial_Height (cm)         300 non-null    float64
 5   Survival_Status             300 non-null    object
 6   Current_Height (cm)         231 non-null    float64
 7   Monitoring_Date             300 non-null    datetime64[ns]
 8   Community_Engagement_Score  300 non-null    int64
 9   Soil_Quality                300 non-null    object
 10  Biodiversity_Count          300 non-null    int64
 11  Costs_Per_Tree (USD)        300 non-null    float64
 12  Total_Trees_Planted         300 non-null    int64
dtypes: datetime64[ns](2), float64(3), int64(3), object(5)
memory usage: 30.6+ KB

In [8]:
#  Viewing the first 10 rows of the dataset
df.head(10)

,Tree_ID,Planting_Date,Location,Species,Initial_Height (cm),Survival_Status,Current_Height (cm),Monitoring_Date,Community_Engagement_Score,Soil_Quality,Biodiversity_Count,Costs_Per_Tree (USD),Total_Trees_Planted
0,TREE_001,2023-01-01,Area_1,Teak,58.59,Yes,123.39,2024-01-01,8,Moderate,35,21.20,162
1,TREE_002,2023-01-02,Area_1,Eucalyptus,39.92,Yes,NaN,2024-01-02,7,Moderate,10,20.55,78
2,TREE_003,2023-01-03,Area_3,Baobab,46.58,Yes,102.13,2024-01-03,9,Moderate,23,24.39,126
3,TREE_004,2023-01-04,Area_2,Eucalyptus,47.17,Yes,136.82,2024-01-04,4,Moderate,41,27.81,108
4,TREE_005,2023-01-05,Area_2,Eucalyptus,59.41,Yes,74.53,2024-01-05,2,Moderate,8,11.59,175
5,TREE_006,2023-01-06,Area_2,Mahogany,32.26,No,65.73,2024-01-06,7,Poor,8,24.63,194
6,TREE_007,2023-01-07,Area_1,Baobab,39.17,Yes,66.04,2024-01-07,6,Poor,24,13.75,158
7,TREE_008,2023-01-08,Area_5,Baobab,35.73,No,83.40,2024-01-08,1,Moderate,14,27.16,71
8,TREE_009,2023-01-09,Area_1,Baobab,38.05,No,73.87,2024-01-09,9,Moderate,28,26.38,117
9,TREE_010,2023-01-10,Area_5,Eucalyptus,44.56,Yes,143.01,2024-01-10,9,Good,39,20.82,118

In [9]:
# Checking the number of null values
df.isnull().sum()

Tree_ID                        0
Planting_Date                  0
Location                       0
Species                        0
Initial_Height (cm)            0
Survival_Status                0
Current_Height (cm)           69
Monitoring_Date                0
Community_Engagement_Score     0
Soil_Quality                   0
Biodiversity_Count             0
Costs_Per_Tree (USD)           0
Total_Trees_Planted            0
dtype: int64

In [13]:
# Filling up the missing height values
# Fill with the median
df['Current_Height (cm)'] = df['Current_Height (cm)'].fillna(df['Current_Height (cm)'].median())
df.isnull().sum()

Tree_ID                       0
Planting_Date                 0
Location                      0
Species                       0
Initial_Height (cm)           0
Survival_Status               0
Current_Height (cm)           0
Monitoring_Date               0
Community_Engagement_Score    0
Soil_Quality                  0
Biodiversity_Count            0
Costs_Per_Tree (USD)          0
Total_Trees_Planted           0
dtype: int64

In [18]:
# Droping duplicates
df.drop_duplicates()

,Tree_ID,Planting_Date,Location,Species,Initial_Height (cm),Survival_Status,Current_Height (cm),Monitoring_Date,Community_Engagement_Score,Soil_Quality,Biodiversity_Count,Costs_Per_Tree (USD),Total_Trees_Planted
0,TREE_001,2023-01-01,Area_1,Teak,58.59,Yes,123.39,2024-01-01,8,Moderate,35,21.20,162
1,TREE_002,2023-01-02,Area_1,Eucalyptus,39.92,Yes,101.40,2024-01-02,7,Moderate,10,20.55,78
2,TREE_003,2023-01-03,Area_3,Baobab,46.58,Yes,102.13,2024-01-03,9,Moderate,23,24.39,126
3,TREE_004,2023-01-04,Area_2,Eucalyptus,47.17,Yes,136.82,2024-01-04,4,Moderate,41,27.81,108
4,TREE_005,2023-01-05,Area_2,Eucalyptus,59.41,Yes,74.53,2024-01-05,2,Moderate,8,11.59,175
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,TREE_296,2023-10-23,Area_4,Eucalyptus,37.54,Yes,101.40,2024-10-22,4,Poor,32,29.12,167
296,TREE_297,2023-10-24,Area_1,Eucalyptus,38.24,Yes,56.91,2024-10-23,1,Good,42,16.28,103
297,TREE_298,2023-10-25,Area_5,Baobab,36.22,Yes,93.72,2024-10-24,2,Good,35,27.77,187
298,TREE_299,2023-10-26,Area_2,Teak,56.35,No,59.74,2024-10-25,5,Moderate,31,22.06,102
299,TREE_300,2023-10-27,Area_5,Acacia,52.71,Yes,101.40,2024-10-26,5,Good,9,26.53,93

### 1. *Which species has the highest survival rate?*

In [ ]:
# Count survived trees by species
survived_by_species = df[df['Survival_Status'] == 'Yes'].groupby('Species')['Survival_Status'].count()
Total_trees = df['Tree_ID'].count()
Survival_Rate = (survived_by_species / Total_trees) * 100
print(round(Survival_Rate, 2))

Species
Acacia        20.00
Baobab        17.00
Eucalyptus    12.67
Mahogany      13.33
Teak          19.33
Name: Survival_Status, dtype: float64

> **Insights:**
Species with higher survival rates may indicate better adaptation to local conditions or more effective planting techniques.

### 2. *How does soil quality affect tree growth?*

In [48]:
Tree_height = df.groupby('Soil_Quality')['Current_Height (cm)'].mean()
print(round(Tree_height, 2))

Soil_Quality
Good         99.13
Moderate    100.45
Poor        102.92
Name: Current_Height (cm), dtype: float64

> **Insights:**
Higher soil quality is expected to correlate with better growth metrics (height and diameter). Poor soil quality might limit growth, even if survival is high.

### 3. *What is the relationship between community involvement and biodiversity impact?*

In [58]:
Biodiversity = df.groupby('Community_Engagement_Score')
Biodiversity_Impact = Biodiversity['Species'].nunique()
print(Biodiversity_Impact)

Community_Engagement_Score
1     5
2     5
3     5
4     5
5     5
6     5
7     5
8     5
9     5
10    5
Name: Species, dtype: int64

> **Insights:**
Higher community involvement might lead to greater biodiversity due to better planting and maintenance practices

### 4. *Is there a significant difference in survival rates across locations?*

In [59]:
# Count survived trees by location
survived_by_species = df[df['Survival_Status'] == 'Yes'].groupby('Location')['Survival_Status'].count()
Total_trees = df['Tree_ID'].count()
Survival_Rate = (survived_by_species / Total_trees) * 100
print(round(Survival_Rate, 2))

Location
Area_1    20.33
Area_2    18.00
Area_3    13.00
Area_4    15.00
Area_5    16.00
Name: Survival_Status, dtype: float64

> **Insights:**
Locations with lower survival rates might need intervention, such as better soil preparation or more watering.

### 5. *How do watering frequency and fertilizer usage influence survival or growth?*

In [ ]:
Biodiversity = df.groupby('Community_Engagement_Score')
Biodiversity_Impact = Biodiversity['Species'].nunique()
print(Biodiversity_Impact)

In [62]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Tree_ID                     300 non-null    object
 1   Planting_Date               300 non-null    datetime64[ns]
 2   Location                    300 non-null    object
 3   Species                     300 non-null    object
 4   Initial_Height (cm)         300 non-null    float64
 5   Survival_Status             300 non-null    object
 6   Current_Height (cm)         300 non-null    float64
 7   Monitoring_Date             300 non-null    datetime64[ns]
 8   Community_Engagement_Score  300 non-null    int64
 9   Soil_Quality                300 non-null    object
 10  Biodiversity_Count          300 non-null    int64
 11  Costs_Per_Tree (USD)        300 non-null    float64
 12  Total_Trees_Planted         300 non-null    int64
dtypes: datetime64[ns](2), float64(3), int64(3), object(5)
memory usage: 30.6+ KB

Tree_ID                       0
Planting_Date                 0
Location                      0
Species                       0
Initial_Height (cm)           0
Survival_Status               0
Current_Height (cm)           0
Monitoring_Date               0
Community_Engagement_Score    0
Soil_Quality                  0
Biodiversity_Count            0
Costs_Per_Tree (USD)          0
Total_Trees_Planted           0
dtype: int64

In [63]:
# Saving the final cleaned data
df.to_csv('cleaned_tree_planting_dataset.csv', index=False)